<%- include('./partials/head') %>


<h1><%= squad.name %></h1>

<section class="card-filter">
  <form>
    <label class="filter-tag">Squad:</label>
    <input type="radio" id="squadA" name="squad" value="squad-a-2022">
    <label for="squadA"> Squad A</label>
    <input type="radio" id="squadB" name="squad" value="squad-b-2022">
    <label for="squadB"> Squad B</label>
    <input type="radio" id="squadC" name="squad" value="squat-c-2022">
    <label for="squadC"> Squad C</label>
    <input type="radio" id="founders" name="squad" value="founders-2021">
    <label for="founders"> Founders </label>
    <input type="radio" id="minorweb" name="squad" value="minor-web-2023">
    <label for="minorweb"> Minor Web </label>

    <label class="filter-tag">Role:</label>
    <input type="radio" id="student" name="role" value="student">
    <label for="student"> Student</label>
    <input type="radio" id="lecturer" name="role" value="lecturer">
    <label for="lecturer"> Lecturer</label>
    <input type="radio" id="co-teacher" name="role" value="co-teacher">
    <label for="co-teacher"> Co-teacher</label>

    <label for="sort-select" class="filter-tag">Sort by:</label>

    <select name="orderBy" id="sort-select">
      <option value="name-AZ">Name A-Z</option>
      <option value="name-ZA">Name Z-A</option>
      <option value="surname-AZ">Surname A-Z</option>
      <option value="surname-ZA">Surname Z-A</option>
      <option value="nickname-AZ">Nickname A-Z</option>
      <option value="nickname-ZA">Nickname Z-A</option>


    </select>

    <input type="submit" value="submit">
  </form>
</section>

<section class="card-area">
  <!-- Hier komen de members -->
  <% squad.members.forEach(member => { %>
  <article class="card-container">
    <div class="card-sizer"></div>
    <% if (member.avatar) { %>
    <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
    <% }else{ %>
    <img src="https://via.placeholder.com/300" alt="Placeholder avatar" />
    <% } %>
    <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    <p class="role-tag"> <%= member.role[0] %></p>
    <p> Also known as: <p class="nick-tag"><%= member.nickname %></p></p>  

    <% for (const [key, value] of Object.entries(member.bio || {})) {   %>
    <p> <%- value %> </p>
      <% } %>
      
    <a href="<%= member.website %>">Website</a>
  </article>
  <% }) %>
</section>



<%- include('./partials/foot') %>

